#header_image
  %span{class: 'tape_right'}
    %img{src: 'images/tape_right.png', alt: ''}
    %img{src: 'images/top.jpg', alt: ''}
  %span{class: 'tape_left'}
    %img{src: 'images/tape_left.png', alt: ''}
