%section.aside_section_01
  %span.tape
    %img.tapeimg{src: 'images/tape.png', alt: ''}
  %h3
    %img{src: 'images/next.png', alt: '次回の開催'}
  %p
    %span.aside_p_test
      %span.big 第12回山陰コンピュータ部
      %br 2012/10/13 13:00〜
    %a{href: 'http://atnd.org/events/32594'}
      %img{src: 'images/participation.png'}
%section.aside_section_banner
  %a{href: 'http://www.it-stamp.jp/'}
    %img{src: 'images/it-stamp.png'}
%section.aside_section_02
  %span.tape
    %img.tapeimg{src: 'images/tape.png', alt: ''}
  %h3
    %img{src: 'images/back.png', alt: '前回の開催'}
  %ul
    %li
      %a{href: 'http://atnd.org/events/31788'}
        第11回山陰コンピュータ部
      (2012/09/15)
    %li
      %a{href: 'http://atnd.org/events/31082'}
        第10回山陰コンピュータ部
      (2012/08/19)
    %li
      %a{href: 'http://atnd.org/events/30331'}
        第9回山陰コンピュータ部
      (2012/07/21)
    %li
      %a{href: 'http://atnd.org/events/29256'}
        第8回山陰コンピュータ部
      (2012/06/16)
    %li
      %a{href: 'http://atnd.org/events/28289'}
        第7回山陰コンピュータ部 
      (2012/05/13)
    %li
      %a{href: 'http://atnd.org/events/27058'}
        第6回山陰コンピュータ部 
      (2012/04/21)
    %li
      %a{href: 'http://atnd.org/events/25556'}
        第5回山陰コンピュータ部
      (2012/03/24)
    %li 第4回山陰コンピュータ部 (2012/02/19)
    %li 第3回山陰コンピュータ部 (2012/01/14)
    %li 第2回山陰コンピュータ部 (2011/12/21)
    %li 第1回山陰コンピュータ部 (2011/11/27)
