!!! 5
%html{lang: 'ja_JP'}
  %head
    %meta{charset: 'utf-8'}
    %meta{name: 'description', content: '山陰コンピュータ部は、島根、鳥取の若年層（U-25）をターゲットとしたIT系勉強会です。'}
    %meta{name: 'keywords', content: '山陰コンピュータ部, 山陰, 勉強会, プログラミング, 島根, 鳥取, 松江'}
    %title 山陰コンピュータ部
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylz/style.css'}
  = render '_analytics'
  %body
    %a{href: 'https://github.com/3incomv/official-site'}
      %img{style: 'position: absolute; top: 0; right: 0; border: 0;', src: 'https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt: 'Fork me on GitHub'}
    #container
      %header
        %h1
          %img{src: 'images/logo.png', alt: 'logo_text'}
          %img{src: 'images/logo_text.png', alt: 'logo'}
        = render '_top_image' if item.path == '/'
      #contents.clearfix
        .main
          = yield
        %aside
          = render '_sidebar'
      %footer
        %p
          Copyright &copy;2012 山陰コンピュータ部 All Rights Reserved.
